:root{
--donker-blauw: rgb(34, 38, 42);
--rompertje-donker: rgb(62, 70, 77);
--rompertje-midden: rgb(117, 132, 145);
--rompertje-licht: rgb(183, 191, 198);

--accentkleur :rgb(255, 255, 40); 

}